<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::headerFragment('Create Student')"></head>
<body class="fondo">
  <!-- Navbar -->
   <div th:replace="fragments/navbar :: navbar"></div>
   <!-- End Navbar -->
    <div class="container mt-5">
        <h1 class="text-center">Student Form </h1>

        <div class="row mt-5">
            <div class="col-4 offset-4">

                <form id="student-form" class="fondo-form" th:action="@{/students}" th:object="${student}" method="POST">
            <!--   -->
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre</label>
                        <input
                            type="text"
                            class="form-control"
                            id="name"
                            th:field="*{name}"
                     
                        />
                       <small id="nameError" class="text-danger" style="display:none;">El campo nombre no puede estar vacio</small>
                    </div>

                    <div class="mb-3">
                        <label for="lastname" class="form-label">Apellido</label>
                        <input
                            type="text"
                            class="form-control"
                            id="lastname"
                            th:field="*{lastname}"
                          
                        />
                        <small id="lastNameError" class="text-danger" style="display:none;">El campo apellido no puede estar vacio</small>
                  
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input
                            type="text"
                            class="form-control"
                            id="email"
                            th:field="*{email}"
                            
                        />
                       <small id="emailError" class="text-danger" style="display:none;">El campo email es invalido</small>
                    </div>
					
					<input type="hidden" name="option" value="updateStudent">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-success">Send</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/validation.js}"></script>
</body>
</html>